.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;

  background: chartreuse;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information input {
  width: 300px;
  height: 20px;
  font-size: 20px;
  margin: 5px;
}
button {
  margin: 20px;
  padding: 5px 20px;
}
button:hover {
  cursor: pointer;
  background: darkblue;
  color: #fff;
}
.employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.employee {
  display: flex;
}
.employee h3 {
  margin: 10px;
}
